* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: rgb(240, 240, 240);
}
button, input, select, textarea {
    background-color: transparent;
    border-style: none;
    color: inherit;
    font-size: 1em;
    margin: 0;
}

::selection {
    background-color: #b3d4fc;
    color: #000;
    text-shadow: none;
}

@font-face {
    font-family:'SimplonNorm-Regular'; 
    font-display:swap;
    src: local('SimplonNorm-Regular'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/SimplonNorm-Regular-WebS.woff2) format('woff2'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/SimplonNorm-Regular-WebS.woff) format('woff'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/SimplonNorm-Regular-WebS.eot) format("embedded-opentype"), 
    url("https://d3ecdcl3jl479b.cloudfront.net/fonts/SimplonNorm-Regular-WebS.eot?#iefix") format("embedded-opentype"), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/SimplonNorm-Regular-WebS.ttf) format("truetype");
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'SimplonNorm-Light';
    font-display:swap;
    src: local('SimplonNorm-Light'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/SimplonNorm-Light-WebS.woff2) format('woff2'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/SimplonNorm-Light-WebS.woff) format('woff'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/SimplonNorm-Light-WebS.eot) format('embedded-opentype'), 
    url('https://d3ecdcl3jl479b.cloudfront.net/fonts/SimplonNorm-Light-WebS.eot?#iefix') format('embedded-opentype'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/SimplonNorm-Light-WebS.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
} 
@font-face{
    font-family:'SimplonNorm-Bold';
    font-display:swap;
    src: local('SimplonNorm-Bold'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/simplonnorm-bold-webfont.woff2) format('woff2'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/simplonnorm-bold-webfont.woff) format('woff'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/simplonnorm-bold-webfont.eot) format('embedded-opentype'), 
    url('https://d3ecdcl3jl479b.cloudfront.net/fonts/simplonnorm-bold-webfont.eot?#iefix') format('embedded-opentype'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/simplonnorm-bold-webfont.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
} 
@font-face{
    font-family:'SimplonNorm-Medium';
    font-display:swap;
    src: local('SimplonNorm-Medium'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/simplonnorm-medium-webfont.woff2) format('woff2'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/simplonnorm-medium-webfont.woff) format('woff'), 
    url('https://d3ecdcl3jl479b.cloudfront.net/fonts/simplonnorm-medium-webfont.eot') format('embedded-opentype'), 
    url('https://d3ecdcl3jl479b.cloudfront.net/fonts/simplonnorm-medium-webfont.eot?#iefix') format('embedded-opentype'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/simplonnorm-medium-webfont.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
} 
@font-face{
    font-family:'FreightBold';
    font-display:swap;
    src: local('FreightBold'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/FreigTexBol.woff2) format('woff2'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/FreigTexBol.woff) format('woff'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/FreigTexBol.ttf) format('truetype');
} 
@font-face{
    font-family:'FreightTextProBook-Regular';
    font-display:swap;
    src: local('FreightTextProBook-Regular'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/FreightTextProBook.woff2) format('woff2'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/FreightTextProBook.woff) format('woff'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/FreightTextProBook.eot) format("embedded-opentype"), 
    url("https://d3ecdcl3jl479b.cloudfront.net/fonts/FreightTextProBook.eot?#iefix") format("embedded-opentype"), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/FreightTextProBook.ttf) format("truetype");
} 
@font-face{
    font-family:'FreightLight';
    font-display:swap;
    src: local('FreightLight'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/FreigTexLig.woff2) format('woff2'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/FreigTexLig.woff) format('woff'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/FreigTexLig.ttf) format('truetype');
}
@font-face{
    font-family:'FreightMedium';
    font-display:swap;
    src: local('FreightMedium'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/FreigTexMed.woff2) format('woff2'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/FreigTexMed.woff) format('woff'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/FreigTexMed.ttf) format('truetype');
} 
@font-face{
    font-family:'FreightMediumItalic';
    font-display:swap;
    src: local('FreightMedium'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/FreigTexMedIta.woff2) format('woff2'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/FreigTexMedIta.woff) format('woff'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/FreigTexMedIta.ttf) format('truetype');
} 
@font-face{
    font-family:'FreightTextProBook-Italic';
    font-display:swap;
    src: local('FreightTextProBook-Italic'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/FreigTexBooIta.woff2) format('woff2'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/FreigTexBooIta.woff) format('woff'), 
    url(https://d3ecdcl3jl479b.cloudfront.net/fonts/FreigTexBooIta.ttf) format('truetype');
}